<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <app-top></app-top>

          <!--begin::Content-->
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
              <!--begin::Subheader-->
              <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                  <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                      <!--begin::Info-->
                      <div class="d-flex align-items-center flex-wrap mr-2">

                          <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm" style="width: 150px ;height: 50px; align-content: center;">Add New</a>
                          <!--end::Actions-->
                      </div>
                      <!--end::Info-->

                  </div>
              </div>

              <div class="d-flex flex-column-fluid">
                  <!--begin::Container-->
                  <div class="container">


                  </div>
                  <!--end::Container-->
              </div>
          </div>
          <!--end::Content-->
      </div>
  </div>
</div>
