<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <app-top></app-top>

          <!--begin::Content-->
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

            <div class="row">


              <div class="col">
                <div class="card-body p-0">
                  <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                      <div class="col-xl-12 col-xxl-10">
                          <!--begin::Wizard Form-->
                          <form class="form" id="kt_form" #registroForm = "ngForm"  >
                              <div class="row justify-content-center">
                                  <div class="col-xl-9">
                                      <!--begin::Wizard Step 1-->
                                      <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                          <h5 class="text-dark font-weight-bold mb-10">Inventario General</h5>

                                          <!--begin::Group-->
                                          <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Tipo de Energía</label>
                                            <div class="col-lg-9 col-xl-9">
                                              <select name="estado"
                                              class="form-control form-control-solid form-control-lg">
                                                  <option value="" selected disabled>Energía Eléctrica</option>

                                                  <option value="1" >Energía Eléctrica</option>
                                                  <option value="0">Gas Natural</option>
                                                  <option value="0">Gas Oil</option>
                                                  <option value="0">Gas licuado de petroleo (GLP)</option>
                                                  <option value="0">Leña</option>
                                                  <option value="0">Otras Fuentes Energéticas </option>


                                              </select>
                                          </div>
                                        </div>
                                        <!--end::Group-->

                                          <!--begin::Group-->
                                          <div class="form-group row">
                                              <label class="col-xl-3 col-lg-3 col-form-label">Equipo</label>
                                              <div class="col-lg-9 col-xl-9">
                                                  <input class="form-control form-control-solid form-control-lg" name="colaborador_nombre"  required type="text" placeholder="Nombres "/>
                                              </div>
                                          </div>
                                          <!--end::Group-->





                                          <!--begin::Group-->
                                          <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Distribución por uso</label>
                                            <div class="col-lg-9 col-xl-9">
                                              <select name="estado"
                                              class="form-control form-control-solid form-control-lg">
                                                  <option value="" selected disabled>Elegir uso</option>

                                                  <option value="1" >Climatización</option>
                                                  <option value="0">Electrodoméstico</option>
                                                  <option value="0">Dispositivo de Red</option>
                                                  <option value="0">Oficina</option>
                                                  <option value="0">Iluminación</option>
                                                  <option value="0">Seguridad </option>
                                                  <option value="0">Comunicación </option>


                                              </select>
                                          </div>
                                        </div>
                                        <!--end::Group-->
                                          <!--begin::Group-->
                                          <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Consumo nominal (KWh)</label>
                                            <div class="col-lg-9 col-xl-9">
                                                <input class="form-control form-control-solid form-control-lg" name="colaborador_nombre"  required type="text" placeholder="Nombres "/>
                                                

                                            </div>

                                          </div>
                                          <!--end::Group-->
                                          <!--begin::Group-->
                                          <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Sumatoria Relevamiento (KWh)</label>
                                            <div class="col-lg-9 col-xl-9">
                                                <input class="form-control form-control-solid form-control-lg" name="colaborador_nombre"  required type="text" placeholder="Nombres "/>

                                            </div>

                                          </div>
                                          <!--end::Group-->
                                          <!--begin::Group-->
                                          <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Sumatoria Relevamiento (KWh)</label>
                                            <div class="col-lg-9 col-xl-9">
                                                <input class="form-control form-control-solid form-control-lg" name="colaborador_nombre"  required type="text" placeholder="Nombres "/>

                                            </div>

                                          </div>
                                          <!--end::Group-->

                                      </div>
                                      <!--end::Wizard Step 1-->

                                      <!--begin::Wizard Actions-->
                                      <div class="d-flex justify-content-between border-top pt-10 mt-15">


                                          <div>
                                            <button class="btn btn-primary" [routerLink]="['/General'] "> Agregar Datos</button>



                                          </div>
                                      </div>
                                      <!--end::Wizard Actions-->
                                  </div>
                              </div>
                          </form>
                          <!--end::Wizard Form-->
                      </div>
                  </div>
              </div>



              </div>
              <div class="col">
                <div class="card-body p-1">
                  <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                    <app-pie-chart></app-pie-chart>
                    <h4>Listado</h4>
                  <ul class="list-group ">
                    <li *ngFor="let datos of datosInventarioGeneral;

                    let i = index;
                    let isLast = last;
                    let isEven = even;"

                      class="list-group-item d-flex justify-content-between align-items-center"
                      [ngClass]="{
                        'list-group-item-primary': isEven,
                        'list-group-item-dark': isLast,
                      }">
                    <div>
                      <span class="text-primary"> {{ i+1 }} . </span>
                      <span>{{datos.fuente_de_energia}} - </span>
                      <strong>Equipo: </strong>
                      <span>{{datos.equipos_Principales}}</span>
                    </div>

                    <button

                    class="btn btn-danger ml-2" >
                      Eliminar
                    </button>



                    </li>

                  </ul>

                  </div>


                </div>




              </div>

            </div>
            <div class="row">
              <div class="card-body p-1">


              </div>



            </div>


          </div>
          <!--end::Content-->
      </div>
  </div>
</div>



