<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>
      <!-- Inicio Wrapper -->
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper" >

        <app-top></app-top>
            <div class="row">
              <div class="col-10">

              </div>
              <div class="col-2 mb-10">
                <a class="btn btn-primary" [routerLink]="['/inventario']" style="width: 200px; height: 35px; text-align: center;"> <strong>Regresar</strong></a>

              </div>

            </div>

            <!-- <h1>Inventario General Relevado</h1> -->
            <div class="card-toolbar">



              <!-- Inicio Container -->
              <div class="container-fluid" >
                <!-- Container card show less -->



                  <!-- Inicio Row 1 -->
                <div class="row mb-4" id="row-1" >
                  <!-- Inicio row 1 - columna 1 -->
                  <div class="col-6" id="col-seis">
                    <!-- <div  class="card card-custom mb-4"> -->
                      <div class="card card-custom m-8 p-8">
                       <div class="row ">
                        <div class="col">
                          <h3 class="card-title mb-4">INVENTARIO GENERAL RELEVADO </h3>
                          <button
                          class="btn btn-primary" type="button"
                          style="width: 200px; height: 50px; align-content: center; padding-left: 0;"
                          data-toggle="modal" [attr.data-target]="'#delete-'"
                          > <strong> NUEVO EQUIPO</strong></button>


                        </div>



                       </div>
                       <div class="row" >
                        <table class="table mt-4">
                          <thead>
                            <tr>
                              <th scope="col">Fuente de Energía</th>
                              <th scope="col">Consumos Energéticos Reales</th>
                              <th scope="col">Sumatoria Relevamiento</th>
                              <th scope="col">Porcentaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Energía Eléctrica</td>
                              <td>40.5160 kWh</td>
                              <td>40.348 kWh</td>
                              <td>100%</td>
                            </tr>
                            <tr>
                              <td scope="row">Gas Natural</td>
                              <td>0 m3</td>
                              <td>0 m3</td>
                              <td>0 %</td>
                            </tr>
                            <tr>
                              <td scope="row">Gas Oil</td>
                              <td >39.544 L</td>
                              <td>39.480 L</td>
                              <td>100 %</td>
                            </tr>
                          </tbody>
                        </table>


                       </div>



                      </div>

                    <!-- Inicio Modal -->
                    <div class="modal fade" id="delete-" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Nuevo equipo eléctrico</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <i aria-hidden="true" class="ki ki-close"></i>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <app-formulario></app-formulario>
                              </div>

                          </div>
                      </div>
                    </div>
                    <!-- Fin Modal -->

                  </div>
                  <!-- Fin row 1 - columna 1 -->

                  <!-- Inicio row 1 - columna 2 -->
                  <div class="col-6 mb-10">
                    <app-pie-chart></app-pie-chart>

                  </div>
                  <!-- Fin row 1 - columna 2 -->



                </div>
                <!-- Fin Row 1 -->



                <!-- Inicio Row 2 -->
                <div class="row" id="row-1">

                  <app-tabla></app-tabla>

                </div>
                <!-- Fin Row 2 -->


              <!-- Fin container -->
                </div>


        </div>
      </div>
      <!-- Fin wrapper -->


  </div>
</div>





