<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <app-top></app-top>

          <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container">

        <!-- begin::Form -->

<div class="row">
  <div class="col">

    <app-stepper [linearModeSelected]="false" #appStepper>
      <cdk-step [label]="'Information'">
        step 1

      </cdk-step>
      <cdk-step [label]="'Datos'">
        step 2

      </cdk-step>
      <cdk-step [label]="'no se'">
        step 3

      </cdk-step>
    </app-stepper>



  </div>
</div>

         <!-- end::Form -->

      </div>
      <!--end::Container-->
  </div>
  <!--end::Entry-->
      </div>
  </div>


