.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
  align-items: flex-start;

}
.example-container form {
  margin-bottom: 5px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
