<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>

    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
        <app-top></app-top>




        <!--begin::Content-->
        <!--begin::Content-->
        <!--begin::Content-->
        <!--begin::Content-->
        <!--begin::Content-->
        <!--begin::Content-->

        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">


              <div class="d-flex flex-column-fluid">
                  <!--begin::Container-->
                  <div class="container-fluid " style="width: 100%; height: max-content; margin: 0;">

                    <!-- begin:: Button-Add -->
                    <div class="p-3 mb-2 bg-transparent text-dark">

                      <!-- begin:: Título + boton crear nuevo colaborador -->
                      <div class="row m-4">

                        <div class="col-10">
                          <h2 class="card-title"><strong>Colaboradores</strong></h2>

                        </div>

                        <div class="col-2" >
                          <a class="btn btn-primary ml-3"  [routerLink]="['/colaborador/create']" style="width: 200px; height: 50px; align-content: center; padding-left: 0;"> <strong> NUEVO COLABORADOR</strong></a>

                        </div>

                      </div>
                      <!-- end:: Título + boton crear nuevo colaborador -->

                    </div>
                    <div  class="card card-custom mb-4">
                      <div class="row m-2">
                        <div class="col-5">
                          <h5 class="card-title">¿Qué colaborador necesitas encontrar?</h5>
                          <input type="text" class="form-control"  placeholder="Buscar por nombre, correo o rol.">

                        </div>
                        <div class="col-2">
                          <h5 class="card-title">Correo</h5>
                          <input type="text" class="form-control" placeholder="usuario@gmail.com">

                        </div>
                        <div class="col-2">
                          <h5 class="card-title">Rol</h5>
                          <select name="estado" class="form-control ">
                            <option value="" selected disabled>Rol</option>

                            <option value="1" >Gestor</option>
                            <option value="0">Cliente</option>
                        </select>

                        </div>
                        <div class="col-1">

                        </div>
                        <div class="col-2">
                          <button class="btn btn-primary" type="button" (click)="filtrar_colaborador()" style="width: 200px; height: 50px; align-content: center; padding-left: 0;" ><strong>BUSCAR</strong></button>

                        </div>

                      </div>

                    </div>
                    <!-- end:: Button-Add -->



                    <div class="card card-custom">

                        <div class="card-body">


                            <!--begin: Search Form-->
                            <div class="row">
                                <div class="col-12">

                                    <div class="table-responsive">

                                        <table class="table table-sm ">
                                            <thead>
                                                <tr class="text-left text-uppercase">
                                                    <th style="min-width: 250px" class="pl-7">
                                                        <span class="text-dark-75">Nombre</span>
                                                    </th>
                                                    <th style="min-width: 250px" class="pl-7">
                                                        <span class="text-dark-75">Correo</span>
                                                    </th>
                                                    <th style="min-width: 250px" class="pl-7">
                                                        <span class="text-dark-75">Rol</span>
                                                    </th>


                                                    <th style="min-width: 50px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let colaborador of colaboradores | paginate: { itemsPerPage: noOfRows, currentPage: page }" style="cursor: pointer;">
                                                    <td class="pl-3 py-3">
                                                        <div class="d-flex align-items-center">

                                                            <div>
                                                                <a class="text-primary font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                                  {{colaborador.colaborador_nombre}}
                                                                </a>
                                                                <span class="text-muted font-weight-bold d-block"></span>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{colaborador.email}}</span>

                                                    </td>
                                                    <td>
                                                        <!-- <span  class="btn btn-secondary" *ngIf="colaborador.estado" style="width: 100px; height: 30px; align-content: center;font-size: 1em;"> Gestor</span>
                                                        <span class="btn btn-light" *ngIf="!colaborador.estado" style="width: 100px; height: 30px; align-content: center;font-size: 1em;"> Cliente</span> -->
                                                        <span class="badge badge-success" id="btn-activado" *ngIf="colaborador.estado"> Activo</span>
                                                        <span class="badge badge-danger" id="btn-desactivado"*ngIf="!colaborador.estado"> Desactivado</span>


                                                    </td>



                                                    <td class="pr-0 text-right" >
                                                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                        <button type="button" class="btn btn-light">Eliminar</button>

                                                        <button type="button" class="btn btn-light">Actualizar</button>
                                                        <!-- Inicio Dropdawn -->
                                                        <div class="dropdown dropleft ml-4">
                                                          <button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <i class="ki ki-bold-more-ver"></i>
                                                          </button>
                                                          <div class="dropdown-menu">
                                                              <a class="dropdown-item" *ngIf="colaborador.estado" data-toggle="modal"  [attr.data-target]="'#delete-'+colaborador.colaborador_id">
                                                                  <i class="icon-1x text-dark-50 flaticon2-cross"></i> &nbsp; Desactivar
                                                              </a>
                                                              <a class="dropdown-item" *ngIf="!colaborador.estado" data-toggle="modal"  [attr.data-target]="'#delete-'+colaborador.colaborador_id">
                                                                  <i class="icon-1x text-dark-50 flaticon2-check-mark"></i> &nbsp; Activar
                                                              </a>
                                                              <a class="dropdown-item" [routerLink]="['/colaborador', colaborador.colaborador_id]">
                                                                  <i class="icon-1x text-dark-50 flaticon-edit"></i> &nbsp; Editar
                                                              </a>
                                                          </div>
                                                        </div>
                                                        <!-- Fin Dropdawn -->
                                                         <!-- Inicio Modal -->
                                                         <div class="modal fade" id="delete-{{colaborador.colaborador_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog" role="document">
                                                              <div class="modal-content">
                                                                  <div class="modal-header">
                                                                      <h5 class="modal-title" id="exampleModalLabel">Title Modal</h5>
                                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                          <i aria-hidden="true" class="ki ki-close"></i>
                                                                      </button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque vero odio sunt sequi. Fugit ipsum possimus placeat eum cum perspiciatis! Est, cupiditate nostrum maiores quo ad cumque consequatur laudantium? Excepturi.</p>
                                                                  </div>
                                                                  <div class="modal-footer">
                                                                      <button type="button" class="btn btn-warning font-weight-bold" data-dismiss="modal">Cerrar</button>
                                                                      <button *ngIf="!load_estado" type="button" class="btn btn-danger font-weight-bold" (click)="set_state(colaborador.colaborador_id, colaborador.estado)">Enviar</button>

                                                                      <button *ngIf="load_estado" class="btn btn-danger" type="button" disabled>
                                                                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                          Enviando...
                                                                      </button>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>

                                                          <!-- Fin Modal -->

                                                      </div>


                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                    <pagination-controls (pageChange)="page = $event"></pagination-controls>

                                    <pagination-template #p="paginationApi"
                                                        (pageChange)="page=($event)"
                                                        >

                                          <div class="form-group" [class.disabled]="p.isFirstPage()">
                                            <div class="item-par-page">
                                          </div>
                                          </div>

                                    </pagination-template>
                                </div>

                            </div>
                            <!-- end: Search Form -->
                        </div>
                    </div>
                    <!-- end::card-table -->
                  </div>
                  <!--end::Container-->
              </div>

        </div>




          <!--end::Content-->
          <!--end::Content-->
          <!--end::Content-->
          <!--end::Content-->
          <!--end::Content-->
          <!--end::Content-->
    </div>
        <!-- End::Content -->
  </div>
</div>
