<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <app-top></app-top>

          <!--begin::Content-->
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
              <!--begin::Subheader-->


              <div class="d-flex flex-column-fluid">
                  <!--begin::Container-->
                  <div class="container">

                  <!-- begin:: Formulario de creación de colaborador -->
                  <div class="card card-custom card-shadowless rounded-top-0">
                    <!--begin::Body-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Nuevo colaborador</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">Formulario de un nuevo trabajador</span>
                        </h3>
                        <div class="card-toolbar">
                            <a class="btn btn-primary" [routerLink]="['/colaborador']">Regresar</a>

                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                            <div class="col-xl-12 col-xxl-10">
                                <!--begin::Wizard Form-->
                                <form class="form" id="kt_form" #registroForm = "ngForm" (ngSubmit)="registrar(registroForm)" >
                                    <div class="row justify-content-center">
                                        <div class="col-xl-9">
                                            <!--begin::Wizard Step 1-->
                                            <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                                <h5 class="text-dark font-weight-bold mb-10">Datos personales:</h5>

                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Nombre (*)</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <input class="form-control form-control-solid form-control-lg" name="colaborador_nombre" [(ngModel)]="colaborador.colaborador_nombre" required type="text" placeholder="Nombres "/>
                                                    </div>
                                                </div>
                                                <!--end::Group-->


                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Correo eletrónico (*)</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <input class="form-control form-control-solid form-control-lg" name="email"  [(ngModel)]="colaborador.email" type="text" placeholder="Correo eletrónico " required/>
                                                    </div>
                                                </div>
                                                <!--end::Group-->


                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Estado (*)</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <select name="estado" [(ngModel)]="colaborador.estado" 
                                                        class="form-control form-control-solid form-control-lg">
                                                            <option value="" selected disabled>Seleccionar</option>

                                                            <option value="1" >Gestor</option>
                                                            <option value="0">Cliente</option>


                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end::Group-->

                                            </div>
                                            <!--end::Wizard Step 1-->

                                            <!--begin::Wizard Actions-->
                                            <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                                <div class="mr-2">
                                                  <a class="btn btn-primary" [routerLink]="['/colaborador']">Regresar</a>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-success font-weight-bolder ">Registrar</button>

                                                </div>
                                            </div>
                                            <!--end::Wizard Actions-->
                                        </div>
                                    </div>
                                </form>
                                <!--end::Wizard Form-->
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                  <!-- end:: Formulario de creación de colaborador -->

                  </div>
                  <!--end::Container-->
              </div>
          </div>
          <!--end::Content-->
      </div>
  </div>
</div>
