<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <app-top></app-top>

          <!--begin::Content-->
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
              <!--begin::Subheader-->


              <div class="d-flex flex-column-fluid">
                  <!--begin::Container-->
                  <div class="container">

                  <!-- begin:: Formulario de creación de colaborador -->
                  <div class="card card-custom card-shadowless rounded-top-0">
                    <!--begin::Body-->

                    <div class="card-body p-0">
                        <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                            <div class="col-xl-12 col-xxl-10">
                                <!--begin::Wizard Form-->
                                <form class="form" id="kt_form" #registroForm = "ngForm" (ngSubmit)="actualizarDatosGestor(registroForm)" >
                                    <div class="row justify-content-center">
                                        <div class="col-xl-9">
                                            <!--begin::Wizard Step 1-->
                                            <div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
                                                <h3 class="text-dark font-weight-bold mb-10">Perfil Gestor:</h3>

                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Nombre (*)</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <input class="form-control form-control-solid form-control-lg" name="gestor_nombre" [(ngModel)]="gestor.gestor_nombre" required type="text" placeholder="Nombre "/>
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                  <label class="col-xl-3 col-lg-3 col-form-label">Apellido (*)</label>
                                                  <div class="col-lg-9 col-xl-9">
                                                      <input class="form-control form-control-solid form-control-lg" name="colaborador_apellido" [(ngModel)]="gestor.gestor_apellido" required type="text" placeholder="Apellido "/>
                                                  </div>
                                              </div>
                                              <!--end::Group-->
                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                  <label class="col-xl-3 col-lg-3 col-form-label">Cuit</label>
                                                  <div class="col-lg-9 col-xl-9">
                                                      <input class="form-control form-control-solid form-control-lg" name="cuit" [(ngModel)]="gestor.cuit" required type="text" placeholder="Cuit "/>
                                                  </div>
                                              </div>
                                              <!--end::Group-->





                                                <!--begin::Group-->
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Provincia (*)</label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <select *ngIf="!gestor.provincia" name="provincia" [(ngModel)]="gestor.provincia"

                                                        class="form-control form-control-solid form-control-lg">


                                                          <option  *ngFor="let prov of provinciasArgentinas" value="{{prov}}" selected disabled>{{prov}}</option>



                                                        </select>
                                                        <input *ngIf="gestor.provincia" class="form-control form-control-solid form-control-lg" name="provincia" [(ngModel)]="gestor.provincia" required type="text" placeholder="provincia "/>
                                                    </div>
                                                </div>
                                                <!--end::Group-->
                                              <!--begin::Group-->
                                              <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input class="form-control form-control-solid form-control-lg" name="email" [(ngModel)]="gestor.email" required type="text" placeholder="Email "/>
                                                </div>
                                            </div>
                                            <!--end::Group-->

                                            <!--begin::Group-->
                                              <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Domicilio</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input class="form-control form-control-solid form-control-lg" name="domicilio" [(ngModel)]="gestor.domicilio" required type="text" placeholder="Domicilio "/>
                                                </div>
                                            </div>
                                            <!--end::Group-->

                                            <!--begin::Group-->
                                              <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Código Postal</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input class="form-control form-control-solid form-control-lg" name="cod_postal" [(ngModel)]="gestor.cod_postal" required type="text" placeholder="cod_postal "/>
                                                </div>
                                            </div>
                                            <!--end::Group-->

                                            <!--begin::Group-->
                                              <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Teléfono</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input class="form-control form-control-solid form-control-lg" name="telefono" [(ngModel)]="gestor.telefono" required type="text" placeholder="telefono "/>
                                                </div>
                                            </div>
                                            <!--end::Group-->

                                            <!--begin::Group-->
                                              <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Página Web</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <input class="form-control form-control-solid form-control-lg" name="pagina_web" [(ngModel)]="gestor.pagina_web" required type="text" placeholder="pagina_web "/>
                                                </div>
                                            </div>
                                            <!--end::Group-->

                                            </div>
                                            <!--end::Wizard Step 1-->

                                            <!--begin::Wizard Actions-->
                                            <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                                <div class="mr-2">
                                                  <a class="btn btn-primary" [routerLink]="['/dashboard']">Regresar</a>
                                                </div>
                                                <div>
                                                    <button *ngIf="!btn_actualizar" type="submit" class="btn btn-success font-weight-bolder ">Actualizar</button>


                                                    <button *ngIf="btn_actualizar" class="btn btn-primary" type="button" disabled>
                                                      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                                      <span role="status">Registrando...</span>
                                                    </button>


                                                </div>
                                            </div>
                                            <!--end::Wizard Actions-->
                                        </div>
                                    </div>
                                </form>
                                <!--end::Wizard Form-->
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                  <!-- end:: Formulario de creación de colaborador -->

                  </div>
                  <!--end::Container-->
              </div>
          </div>
          <!--end::Content-->
      </div>
  </div>
</div>

